body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 7%;
    background-color: #f4f4f4;
}
.shadow-box{
    box-shadow: 0 0 5px #00000069;
    padding: 40px 15px;
    background: #fff;
}
.progress{
    background-color: #b11226;
    color: #fff;
    padding-right: 10px;
    height: 20px;
    line-height: 20px;
}
.progress > div{
    width: 100%;
}

@media print{
    .no-print{
        display: none;
        visibility: hidden;
    }
    h4 .only-print{
        color: #b11226;
    }
}

